.user-profil-button {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border: solid 1px white;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}

.user-profil-button img {
    width: 60px; 
    height: 60px;
  }